body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #root {
    height: 100%;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
  }
  
  h1, h2 {
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  